/* LARGE */

@media (max-width:992px) {

    /* EXPLORER */

    .button_upgrade {
        border: 2px solid var(--white);
        padding: 15px 35px;
        margin: 40px;
        text-transform: uppercase;
        border-radius: 999px;
        font-size: 18px;
    }

    .select-view {
        gap: 40px;
        margin: 40px; 
        font-size: 18px;
        text-decoration-style: bold;
        color: var(--font__gray);
    }

    .main-menu {
        padding: 18px;
    }
    
    .main-selection {
        gap: 18px
    }


    /* PLAYER */
    
    .box-lt, .box-rt, .time-bar, .play-bar {
        gap: 5px;
    }

    .info-brano {
        font-size: 14px;
    }

    .h-f, .nav_play_icon, .play-bar  {
        font-size: 18px;
    }

    .play_icon {
        font-size: 30px;
    }

    .line_time {
        width: 250px;
    }
}

/* MEDIUM */

@media (max-width:768px) {

    /* EXPLORER */

    .button_upgrade {
        border: 2px solid var(--white);
        padding: 10px 20px;
        margin: 25px;
        text-transform: uppercase;
        border-radius: 999px;
        font-size: 16px;
    }

    .select-view {
        gap: 25px;
        margin: 20px; 
        font-size: 0.8em;
        text-decoration-style: bold;
        color: var(--font__gray);
    }

    .main-menu {
        padding: 15px;
    }
    
    .main-selection {
        gap: 15px
    }


    /* PLAYER */

    .info-brano {
        font-size: 11px;
    }

    .numb-time, .icon_vol {
        font-size: 13px;
    }
    
    .line_time {
        width: 200px;
    }
    
    .vol_scroll {
        width: 70px;
    }
}

/* SMALL */

@media (max-width:576px) {

    /* EPLORER */

    .main-menu {
        padding: 12px;
    }
    
    .main-selection {
        gap: 12px
    }   

    /* PLAYER */
    
    .play_icon {
        font-size: 28px;
    }

    .line_time {
        width: 160px;
    }
}

/* X-SMALL */

@media (width<576px) {

    /* SIDEBAR */

    .logo-bg, 
    .text_side, 
    .playlist, 
    .user,
    .load_app,
    #hr {
        display: none;
    }

    .side-bar {
        padding: 10px
    }

    .logo-sm {
        position: relative;
        opacity: 1;
        width: 35px;
    }

    .side-btn, .foot-side {
        padding-left: 4px;
    }

    .w-row_lt {
        width: 60px;
    }

    .logo, .icon_user {
        font-size: 20px;
    }

    .icon_side {
        width: 25px;
    }

    .nav__btn {
        flex-grow: 1;
    }

    .icon_load_app {
        padding-left: 3px;
    }

     /* EXPLORER */

     .button_upgrade {
        border: 1px solid var(--white);
        padding: 5px 10px;
        margin: 15px 20px 15px auto;
        text-transform: uppercase;
        border-radius: 999px;
        font-size: 12px
    }

    .select-view {
        gap: 15px;
        margin: 10px; 
        font-size: 12px;
        color: var(--font__gray);
    }

    .main-menu {
        padding: 10px;
    }
    
    .main-selection {
        gap: 10px
    }

    /* PLAYER */

    .nav-box{
        width: 100vw;
    }

    .rt {
        padding: 0 5px;
    }

    .info-brano {
        padding: 3px;
    }

    .play-bar {
        padding: 0 5px;
        margin: 0 auto;
    }

    .box-lt, .numb-time, .line_time {
        padding: 0px;
    }
    
    .icon_vol, .h-f, strong {
        font-size: 10px;   
    }

    .numb-time, .nome_brano {
        font-size: 8px;
    }

    .nav_play_icon  {    
        padding: 0 4px;
        font-size: 15px;
    }

    .play_icon, .rt {
        font-size: 23px;
    }

    .line_time {
        width: 79px;
    }

    .icon_vol {
        padding: 0 1px;
    }

    .vol_scroll {
        width: 50px;
    }

    .line_time, .vol_scroll {
        padding: 2px ;
    }
    
}
