/* LARGE */

@media (max-width:992px) {

    /* PLAYER */
    
    .box-lt, .box-rt, .time-bar, .play-bar {
        gap: 5px;
    }

    .info-brano {
        font-size: 14px;
    }

    .h-f, .nav_play_icon, .play-bar  {
        font-size: 18px;
    }

    .play_icon {
        font-size: 30px;
    }

    .line_time {
        width: 250px;
    }
}

/* MEDIUM */

@media (max-width:768px) {

    /* PLAYER */

    .info-brano {
        font-size: 11px;
    }

    /* .h-f {
        padding: 0
    } */

    .numb-time, .icon_vol {
        font-size: 13px;
    }
    
    .line_time {
        width: 200px;
    }
    
    .vol_scroll {
        width: 70px;
    }
}

/* SMALL */

@media (max-width:576px) {

    /* PLAYER */
    
    .play_icon {
        font-size: 28px;
    }

    .line_time {
        width: 160px;
    }
}

/* X-SMALL */

@media (width<576px) {

    /* SIDEBAR */

    .logo-bg, 
    .text_side, 
    .playlist, 
    .user,
    .load_app,
    #hr {
        display: none;
    }

    .w-row_lt {
        width: 80px;
    }

    .logo {
        width: 35px;
    }

    /* PLAYER */

    .nav-box{
        width: 100vw;
    }

    .rt {
        padding: 0 5px;
    }

    .box-lt {
        padding: 0;
    }

    .numb-time, .line_time {
        padding: 0px;
    }
    
    .icon_vol, .h-f, strong {
        font-size: 10px;
        padding: 0;
    }

    .numb-time, .nome_brano {
        font-size: 8px;
    }

    .nav_play_icon  {    
        padding: 0 4px;
        font-size: 15px;
    }

    .play_icon, .rt {
        font-size: 23px;
    }

    .line_time {
        width: 90px;
    }

    .vol_scroll {
        width: 50px;
    }

    .line_time, .vol_scroll {
        padding: 2px;
    }
    
}
