:root {
    --white: #ffffff;
    --gray: #282828;
    --light-gray: #858585;
}

html {
    font-family: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    width: 100%;
}

    /* LAYOUT */

.menu-explorer  {
    display: flex;
}

.w-row_lt {
    width: 16%;
    background-color: #282828;
}

.w-row_rt {
    width: 100%;
    background-color: yellow;
}
 

    /* PLAYER BAR */

.player {
    background-color: var(--gray);
    color: var(--white);
    height: 90px;
}

.nav-box {
    width: 100vw; 
}

/* BOX LEFT */

.nav-player, .box-lt, .box-rt, .time-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-lt, .time-bar {
    gap: 20px;
}

.box-lt .img-player {
    width: 40px;
}

.h-f {
    padding-right: 18px;
}

.box-lt > * :not(strong) {
    color: var(--light-gray);
}

.box-lt > * :not(strong):hover {
    color: var(--white);
}

.nome_brano:hover {
    text-decoration: underline;
}

/* BOX CENTER */

.ct {
    text-align: center;
    max-height: 90px;
}

.play-bar {
    margin-top: 10px;
}

.h-f, .nav_play_icon {
    font-size: 20px;
}

.nav_play_icon  {    
    padding: 0 20px;
}

.play_icon {
    font-size: 35px;
}

.play_icon:hover {
    font-size: 38px;
}

.nav_play_icon:hover {
    font-size: 150%;
}

.time-bar > * {
    display: inline-block;
    padding: 15px 0;
}

.line_time {
    background-color: var(--light-gray);
    width: 350px;
    padding: 3px;
    border-radius: 999px;
}

/* .line_scroll {
    width: 300px;
    padding: 3px;
    color: var(--white);
} */

/* BOX RIGHT */

.vol_scroll {
    background-color: var(--light-gray);
    width: 120px;
    padding: 3px;
    border-radius: 999px;
}
