:root {
    --white: #ffffff;
    --gray: #282828;
    --light-gray: #858585;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    width: 100%;
}

    /* LAYOUT */

.menu-explorer  {
    display: flex;
}

.w-row_lt {
    width: 16%;
    background-color: #282828;
}

.w-row_rt {
    width: 100%;
    background-color: yellow;
}
 

    /* PLAYER BAR */

.player {
    background-color: var(--gray);
    height: 90px;
}

.nav-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

/* BOX LEFT */

.lt, .ct, .rt {
    flex-grow: calc(1/3);
}

.box-lt {
    padding: 20px 12px;
}

.mn-lt, .box-rt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mn-lt .img-player {
    width: 40px;
}

.nome_brano, .numb-time {
    font-size: 1.8vh;
}

.mn-lt > * :not(strong) {
    color: var(--light-gray);
}

/* BOX CENTER */

.ct {
    text-align: center;
    padding: 10px ;
}

.h-f, .nav_play_icon {
    font-size: 20px;
}

.nav_play_icon  {    
    padding: 0 20px;
}

.play_icon {
    font-size: 35px;
    padding: 0 30px;
}

.time-bar > * {
    display: inline-block;
    padding: 15px 20px 0 20px ;
}

.line_time {
    background-color: var(--light-gray);
    width: 500px;
    padding: 4px;
    border-radius: 999px;
}

/* .line_scroll {
    width: 300px;
    padding: 3px;
    color: var(--white);
} */

/* BOX RIGHT */

.vol_scroll {
    background-color: var(--light-gray);
    width: 120px;
    padding: 3px;
    border-radius: 999px;
}

