:root {
    --white: #ffffff;
    --gray: #282828;
    --light-gray: #858585;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    width: 100%;
}

/* PLAYER BAR */

.player {
    background-color: var(--gray);
    height: 90px;
}

.nav-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

/* BOX LEFT */

.box-lt {
    padding: 20px 12px;
}

.mn-lt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.mn-lt .img-player {
    width: 40px;
}

.nome_brano {
    font-size: 1.8vh;
}

.mn-lt > * :not(strong) {
    color: var(--light-gray);
}

/* DEBUG */

.debug {
    background-color: rgb(192, 56, 56);
}
